sync.ketelsen.cloud {
  encode zstd gzip
  reverse_proxy syncthing:8384
}

vault.ketelsen.cloud {
  encode zstd gzip
  reverse_proxy vaultwarden:80
}
paperless.ketelsen.cloud {
  encode zstd gzip
  reverse_proxy webserver:8000
}

code.ketelsen.cloud, *.code.ketelsen.cloud {
  reverse_proxy coder:7080
  tls {
    on_demand
    issuer acme {
      email bketelsen@gmail.com
    }
  }
}